# make copy of this file and name it marketo.yml, then put here real key,
# secret and endpoint to write new cassettes and make rspec pass
access_key: "test_key"
secret_key: "test_secret"
wsdl_endpoint: "https://some-url.mktoapi.com/soap/mktows/2_2"
